node_modules
frontend/node_modules
frontend/dist
frontend/src
frontend/public
frontend/index.html
frontend/package.json
frontend/vite.config.js
.git
.tools
.vscode
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
src/test
*.md
